.bttn {
  display: flex;
  color: #02b589;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23x;
  background-color: transparent;
  border: 0;
}

.button {
  display: flex;
  width: 183px;
  height: 44px;
  color: #FFFFFF;;
  background-color: #02b589;
  font-size: 20px;
  font-family: 'Ubuntu';
  border: 0;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}
